<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="row-container"></div>

  <div id="row-container2"></div>

  <script type="tpl/lodash" id="row-tpl"><div><% data.forEach(item => { %><button><%- item %></button><% }); %></div></script>
  
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="js/task1.js"></script>
</body>
</html>